<% include ../partials/header.ejs %>


<h1>This is show page</h1>
<h2> <%=campground.name%> </h2>
<img src="<%=campground.image%>">
<p><%=campground.description%></p>
<% campground.comments.forEach(function(comment){%>
    <p><strong><%=comment.author%></strong>----><%=comment.text%></p>
<%})%>
<a href="/campgrounds/<%=campground._id%>/comments/new" class="btn btn-dark">Add New Comment </a>
<% include ../partials/footer.ejs %>